@import  "../mixins.scss";
.show-recruit__wrap {
  .show-recruit__article {
    display: flex;
    .show-recruit__images__wrap {
      width: 55%;
    }
    .show-recruit__images {
      display: flex;
      .side-image-block {
        cursor: pointer;
        margin-right: 2rem;
        .side-image {
          width: 78px;
          height: 78px;
          grid-column: span 1 / auto;
          padding: 2px;
          margin: 4px 0;
           &:hover {
            background-color: white;
            opacity: 0.4;
            z-index: 999;
           }
        }
        .side-image:first-child {
          border: 1px solid;
        }
      }
      .main-image__wrap {
        width: 592px;
        aspect-ratio: 1;
        .main-image-block {
          width: 100%;
          height: 100%;
          overflow-x: hidden;
          position: relative;
          .main-image {
            position: relative;
            width: 100%;
            height: 100%;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
            }
            .left-arrow {
              @include arrow;
              opacity: 1;
              left: 20px;
              &:hover {
                cursor: pointer;
              }
            }
            .right-arrow {
              @include arrow;
              opacity: 1;
              right: 20px;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .show-recruit__info {
      height: 100%;
      width: 45%;
      padding-left: 16px;
      margin-bottom: 32px;
      .another-page__path {
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        .applicant-index {
          margin-right: 30px;
        }
      }
      .info__header {
        margin-bottom: 20px;
        .info__title {
          margin-top: 0;
          margin-bottom: 12px;
        }
        [id^='info__likes__wrap-'] {
          margin-bottom: 20px;
          width: fit-content;
        }
        #info__applicant {
          input {
            @include submit-input-btn(100%, 40px);
            &:hover {
              cursor: pointer;
              background-color: #2C7CFF;
            }
          }
          .delete-actions {
            input {
              background-color: #FF3333;
              &:hover {
                background-color: #FF6666;
              }
            }
          }
        }
      }
      .info__summary {
        margin-bottom: 32px;
        .info__explain__content {
          margin-bottom: 16px;
          font-size: 14px;
        }
        .recruit__time-ago {
          font-size: 14px;
          color: $sub-text-color;
        }
      }
      .info__schedule {
        margin-bottom: 32px;
        .info__schedule-items {
          padding: 16px 0;
          @include separate-border;
          .info__tags {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .info__tags__label {
              margin-right: 25px;
            }
            p {
              margin: 0;
            }
          }
           & > div {
            padding: 8px 0;
          }
        }
      }
      .info__label {
        margin-bottom: 16px;
        .info__label-text {
          font-size: 20px;
          font-weight: 700;
          margin: 0;
          padding: 0;
          color: $sub-text-color;
        }
      }
      .info__recruit-user {
        margin-bottom: 32px;
        .info__user__wrap {
          padding: 16px 0;
          @include separate-border;
        }
        .fa-angle-right {
          margin-left: 35px;
        }
      }
      .info__recruit-comments {
        .info__label {
          margin-bottom: 30px;
        }
        p {
          margin-bottom: 32px;
        }
        textarea {
          width: 83%;
          height: 80px;
          padding: 8px;
          font-size: 1.2rem;
          border: none;
          background-color: rgb(245, 245, 245);
          vertical-align: middle;
          resize: none;
        }
        input[type="submit"] {
          @include submit-input-btn(15%, 80px);
          border-radius: 0;
          vertical-align: middle;
          cursor: pointer;
        }
        .info__comments__index {
          position: relative;
          padding-left: 56px;
          margin-bottom: 60px;
          max-height: 400px;
          overflow: scroll;
          .info__user__wrap {
            height: 20px;
            .profile-image {
              height: 20px;
              .profile-photo {
                position: absolute;
                top: 0;
                left: 0;
              }
              .profile-name {
                position: absolute;
                top: 0;
                font-size: 15px;
                margin: 0;
                color: black;
              }
            }
          }
          .text-container {
            background-color: rgb(245, 245, 245);
            padding: 8px;
            margin-top: 5px;
            border-radius: 10px;
            p {
              font-size: 15px;
              margin: 0;
            }
            .comment__time-ago {
              font-size: 10px;
              color: $sub-text-color;
            }
          }
        }

      }
      // 詳細画面のプロフィールのサイズ
      .profile-photo {
        width: 45px;
        height: 45px;
      }
    }
  }
}

@media ( max-width: 1000px) {
  .show-recruit__wrap {
    .show-recruit__article {
      display: block;
      .show-recruit__images__wrap {
        width: 70%;
        margin: 0 auto;
      }
      .show-recruit__info {
        width: 70%;
        margin: 30px auto 0;
      }
    }
  }
}

@media ( max-width: 800px) {
    .side-image-block {
      display: none;
    }
}


@media ( max-width: 600px ) {
  .show-recruit__wrap {
    .show-recruit__article {
      .show-recruit__images__wrap {
        width: 100%;
      }
      .show-recruit__info {
        width: 100%;
        padding: 0;
      }
    }
  }
}



