<div class="email-field">
  <% if current_page?(new_user_registration_path) %>
    <span class="require">必須</span>
  <% end %>
  <%= f.label :email %><br />
  <%= f.email_field :email, autocomplete: "email" %>
  <%= render 'devise/shared/validation_error_messages', attr: :email%>
</div>