<div class="password-field">
  <% if current_page?(new_user_registration_path) %>
    <span class="require">必須</span>
  <% end %>
  <%= f.label :password %>
  <% if @minimum_password_length %>
    <%= " (#{t('devise.shared.minimum_password_length', count: @minimum_password_length)}#{t('devise.shared.maximum_password_length', count: @maximum_password_length)}で入力してください)" %>
  <% end %>
  <%= f.password_field :password, autocomplete: "new-password" %>
  <%= render 'devise/shared/error_messages', attr: :password %>
</div>