<% user_class = message.user == current_user ? 'current_user' : 'other_user' %>
<div class="text-container">
  <div class="text-wrap <%= user_class %>">
    <p class="text-body"><%= safe_join(message.content.split("\n"),tag(:br)) %></p>
  </div>
</div>