<%= render 'shared/header' %>
<div class="container">
  <div class="applicants__container">
    <h2 class="applicants__title">
      応募した投稿
    </h2>
    <%= render 'shared/recruit_index' %>
  </div>

</div>