<% provide(:page_title, '応募した投稿一覧') %>
<div class="container">
  <div class="rstlist-contents">  
    <div class="flexible-rstlst">

      <%= render 'shared/sidebar' %>

      <%= render 'shared/recruit_index' %>

    </div>
  </div>
</div>