<div class="container">
  <div class="notification__wrapper">
    <h2 class='notification__head'>お知らせ</h2>
    <% if @notifications.present? %>

      <%= render partial: 'content', collection: @notifications %>
      <%= paginate @notifications %>
    <% else %>
      <div class="notification_info">
        <span>お知らせはありません。</span>
      </div>
    <% end %>
    
  </div>
</div>