<div class="list-rst__user">
  <div class="profile-image">
    <%= render 'users/profile_icon', user: recruit.user %>
    <div class="profile-name">
      <%= recruit.user.name %>
    </div>
    <% if current_page?(recruit_path(recruit))  && flag %>
      <i class="fa fa-angle-right fa-xl" aria-hidden="true"></i>
    <% end %>
  </div>
</div>