<div class="container">
  <div class="rstlist-contents">  
    <div class="flexible-rstlst">
      <aside id="colmun-side" class="flexible-rstlst-side">

        <div class="form">

          <h3>エリア</h3>
          <div class="list-sidebar__content">
            <label for="">エリア</label>
            <input type="text">
          </div>

          <h3>キーワード</h3>
          <div class="list-sidebar__content">
            <label for="">キーワード</label>
            <input type="text">
          </div>

          <h3>ジャンル</h3>
          <div class="list-sidebar__content">
            <label for="">ジャンル</label>
            <input type="text">
          </div>

          <h3>日時</h3>
          <div class="list-sidebar__content">
            <div class="list-sidebar__box"></div>
              <label for="">日付</label>
              <input type="text">
            <div></div>
            <div class="list-sidebar__box"></div>
              <label for="">時間帯</label>
              <input type="text">
            <div></div>
            <div class="list-sidebar__box"></div>
              <label for="">所要時間</label>
              <input type="text">
            <div></div>
          </div>

          <h3>その他</h3>
          <div class="list-sidebar__content">
            <div class="list-sidebar__box">
              <label for="">性別</label>
              <input type="radio">
              <input type="radio">
            </div>
            <div class="list-sidebar__box">
              <label for="">年齢</label>
              <input type="text">
            </div>
            <div class="list-sidebar__box">
              <label for="">評価</label>
              <input type="text">
            </div>
          </div>

        </div>
      </aside>
      <div class="flexible-rstlst-main">
        <div class="page-count">
          <span class="page-count__num"><strong><%= "最小" %></strong></span>～<span class="page-count__num">
          <strong><%= "最大" %></strong></span> 件を表示<span class="page-count__line">／</span>
          全 <span class="page-count__num"><strong><%= "合計" %></strong></span> 件
        </div>
        <div class="list-rst__wrap">
          <div class="list-rst__body">
            <div class="list-rst__contents"></div>
            <div class="list-rst__photo-frame"></div>
            <ul class="list-rst__thumb-list">
              <li class="list-rst__thumb-item">
                <p class="list-rst__thumb-image">
                  <a href="">イメージ</a>
                </p>
              </li>
              <li class="list-rst__thumb-item">
                <p class="list-rst__thumb-image">
                  <a href="">イメージ</a>
                </p>
              </li>
              <li class="list-rst__thumb-item">
                <p class="list-rst__thumb-image">
                  <a href="">イメージ</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-pagination">
        </div>
      </div>
    </div>
  </div>

  <div class="rst-footer">
  </div>

</div>
