<div class="flexible-rstlst-main">
  <h2 class='page-title'><%= yield(:page_title) %></h2>
  <div class="page-count">
    全 <span class="page-count__num"><strong><%= @count %></strong></span> 件
  </div>
  <div class="list-rst__wrap">
    <%= render partial: 'secrets/recruit', collection: @recruits, as: :recruit %>
  </div>
  <%= paginate @recruits %>
</div>