<aside id="colmun-side" class="flexible-rstlst-side">

  <div class="form">

    <h3>エリア</h3>
    <div class="list-sidebar__content">
      <label for="">エリア</label>
      <input type="text">
    </div>

    <h3>キーワード</h3>
    <div class="list-sidebar__content">
      <label for="">キーワード</label>
      <input type="text">
    </div>

    <h3>ジャンル</h3>
    <div class="list-sidebar__content">
      <label for="">ジャンル</label>
      <input type="text">
    </div>

    <h3>日時</h3>
    <div class="list-sidebar__content">
      <div class="list-sidebar__box"></div>
        <label for="">日付</label>
        <input type="text">
      <div></div>
      <div class="list-sidebar__box"></div>
        <label for="">時間帯</label>
        <input type="text">
      <div></div>
      <div class="list-sidebar__box"></div>
        <label for="">所要時間</label>
        <input type="text">
      <div></div>
    </div>

    <h3>その他</h3>
    <div class="list-sidebar__content">
      <div class="list-sidebar__box">
        <label for="">性別</label>
        <input type="radio">
        <input type="radio">
      </div>
      <div class="list-sidebar__box">
        <label for="">年齢</label>
        <input type="text">
      </div>
      <div class="list-sidebar__box">
        <label for="">評価</label>
        <input type="text">
      </div>
    </div>

  </div>
</aside>