<div class="info__place__wrap">
  <span class="label">場所：</span>
  <%= recruit.address %>
</div>
<div class="info__date__wrap">
  <span class="label">日時：</span>
  <%= l(recruit.date) %>
</div>
<div class="info__time__wrap">
  <span class="label">時刻：</span>
  <%= l(recruit.meeting_time) %>
</div>
<div class="info__required__wrap">
  <span class="label">所要時間：</span>
  <%= format_duration(recruit.required_time) %>
</div>