<div class="list-rst__user">
  <div class="profile-image">
    <% if recruit.user.profile_photo.attached? %>
      <div class="profile-photo">
        <%= image_tag recruit.user.profile_photo %>
      </div>
    <% else %>
      <div class="profile-icon">
        <i class="fa fa-user visible-icon" aria-hidden="true"></i>
      </div>
    <% end %>
    <div class="profile-name">
      <%= recruit.user.name %>
    </div>
    <% if current_page?(recruit_path(recruit)) %>
      <i class="fa fa-angle-right fa-xl" aria-hidden="true"></i>
    <% end %>
  </div>
</div>