<div class="background-image__container">
  <div class="top-page__container">
    <div class="top-page__text-wrapper">
      <p class='top-page__first-text'>一期一会</p>
      <p class='top-page__last-text'>一瞬の出会いを</p>
      <p class="top-page__explain-text">
        "映画だけ","話を聞いてくれるだけ",そんな人が必要ではありませんか？<br>
        これは〇〇だけに付き合ってくれる人を探すマッチングアプリです
      </p>
    </div>
  </div>
  <div class="footer">
    <a href="https://jp.freepik.com/free-vector/green-hand-drawn-partnership-clipart_16340030.htm#query=%E6%8F%A1%E6%89%8B&position=10&from_view=keyword&track=sph">著作者：rawpixel.com</a>／出典：Freepik
  </div>
</div>

