// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background-image__container {
  background-image: image-url('hand.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover; /* 画像を要素に合わせて拡大縮小 */
  background-position: center;
}
