// Place all the styles related to the recruits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$unit-border-color: #DDDDDD;	
$guide-color: silver;
$element-border-color: #EEEEEE;

.crt-recruit-wrap {
  padding-top: 70px;
  margin-top: 100px;
  background-color: #EEEEEE;
  .crt-recruit-item {
    width: 700px;
    margin: 0 auto;
    textarea {
      resize: none;
      outline: none;
      &::placeholder {
        color: $guide-color;
      }
    }
    input, select {
      outline: none;
      &::placeholder {
        color: $guide-color;
      }
    }
    .headline {
      color: $guide-color;
    }
    .crt-submit {
      text-align: center;
      margin-bottom: 6px;
      input {
        height: 50px;
        width: 60%;
        border: none;
        border-radius: 10px;
        background-color: #005FFF;
        font-size: 1.3rem;
        color: white;
        &:hover {
          cursor: pointer;
          background-color: #2C7CFF;
        }
      }
    }
  }
  .crt-form {
    background-color: white;
    margin: 7px 0 30px 0;
    padding: 7px;
    border-top: 1px solid $unit-border-color;
    border-bottom: 1px solid $unit-border-color;
    .crt-input {
      #recruit_title {
        width: 100%;
        height: 50px;
        font-size: 1.3rem;
        border: none;
        border-bottom: 1px solid $element-border-color;
      }
      #recruit_explain {
        width: 100%;
        height: 150px;
        font-size: 1.3rem;
        border: none;
      }
      #recruit_option {
        width: 100%;
        height: 100px;
        font-size: 1.3rem;
        border: none;
      }
      #recruit_required_time {
        width: 70%;
        height: 100%;
        cursor: pointer;
      }
    }
    .crt-input.title, .crt-input.explain,
    .crt-input.option {
      display: flex;
      align-items: flex-end;
      .field_with_errors {
        width: 100%;
      }
    }
    .crt-input.required {
      .field_with_errors {
        #recruit_required_time {
          width: 100%;
        }
      }
    }
  }
  .crt-form.timeline {
    width: 400px;
    .crt-input {
      display: flex;
      justify-content: space-between;
      height: 40px;
      align-items: center;
      label span{
        font-size: 1.3rem;
      }
      span {
        color: $guide-color;
      }
      input, select {
        border: none;
        font-size: 1.3rem;
        text-align: right;
      }
    }
    .crt-input.date, .crt-input.meeting {
      margin-bottom: 10px;
      border-bottom: 1px solid $element-border-color;
    }
  }
  .field_with_errors {
    display: inline;
  }
}

// 画像データフィールド
.crt-image-wrap {
  .crt-image-data {
    display: flex;
    justify-content: center;
    .crt-image-field {
      width: 150px;
      height: 150px;
      background-color: white;
      margin: 10px;
      label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          text-align: center;
          p {
            margin: 0;
            color: gray;
          }
        }
        .fa-camera {
          width: 60%;
          height: 60%;
          color: $guide-color;
        }
      }
    }
  }
}

// プレビュー画像フィールド
.prev-image-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    vertical-align: middle;
    max-width: 150px;
    max-height: 150px;
  }
}
.image-delete {
  text-align: center;
  color: red;
}