// Place all the styles related to the secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  .list-sidebar__content {
    padding: 0 70px;
    height: 40px;
    .header-top-contents {
      text-align: right;
    }
  }
  .header-search {
    width: 100%;
    border-bottom: 2px solid #EEEEEE;
    .header-fixed {
      display: flex;
      justify-content: space-between;
      padding: 5px 70px 5px 70px;
      height: 100%;
      .search-suggest {
        .form {
          display: flex;
        }
      }
    }
  }
}

.container {
  word-wrap: break-word;
  margin-top: 170px;
  .flexible-rstlst {
    display: flex;
    margin: 0 auto;
    padding: 0 70px;
    aside {
      height: 100%;
      min-width: 280px;
      max-width: 320px;
      outline: 0;
      h3 {
        margin: 0;
        padding: 10px;
        background: #faf8f5;
      }
      .list-sidebar__content {
        margin: 14px;
        .list-sidebar__box {
          margin-top: 10px;
        }
      }
    }
    .flexible-rstlst-main {
      margin-left: 40px;
      width: 100%;
      min-width: 800px;
      max-width: 1040px;
      .page-count {
        padding-bottom: 17px;
        border-bottom: 2px solid #EEEEEE;
      }
    }
  }
}