// Place all the styles related to the secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flexible-rstlst {
  display: flex;
  margin: 0 auto;
  .flexible-rstlst-main {
    padding-left: 40px;
    width: 100%;
    .page-count {
      padding-bottom: 17px;
    }
  }
}

.list-rst__body {
  position: relative;
  padding-left: 240px;
  margin-bottom: 18px;
  border-top: solid 1px #e1e1e1;
  .list-rst__contents {
    padding-top: 20px;
    .list-rst__summary {
      margin-bottom: 20px;
      h3 {
        margin: 0;
      }
      & > [class^='list-rst'] {
        margin-bottom: 10px;
      }
    }
    .border-line {
      height: 1px;
      margin-bottom: 20px;
      border-top: 1px solid #EEEEEE;
    }
  }
  .list-rst__photo-frame {
    position: absolute;
    top: 20px;
    left: 0;
    width: 220px;
    height: 300px;
    z-index: 999;
    .list-rst__photo-main {
      width: 220px;
      height: 220px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .list-rst__photo-list {
      padding: 0;
      margin-top: 10px;
      li {
        width: 70px;
        height: 70px;
        float: left;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & li:nth-child(3) {
        margin: 0;
      }
    }
  }
}

@media ( max-width: 800px ) {
  .header {
    .header-top__container {
      .header-top-contents {
        justify-content: center !important;
        .header__links {
          .header__user-menu, .header__recruit-link {
            display: none !important;
          }
          #user-tasks__icon {
            visibility: visible !important;
          }
          #user-tasks {
            display: none;
          }
        }
      }
    }
  }
  .responsive__header-links {
    position: fixed;
    bottom: 7%;
    width: 100%;
    text-align: center;
    & > div {
      margin-bottom: 10px;
    }
  }
  .container {
    padding: 0 !important;
    margin-bottom: 70px;
    .rstlist-contents {
      .flexible-rstlst {
        .flexible-rstlst-main {
          width: 100%;
          padding: 0;
          .list-rst__body {
            padding: 0 !important;
            .list-rst__contents {
              .list-rst__timeline {
                display: none;
              }
            }
          }
          .list-rst__photo-frame {
            display: none;
          }
          .responsive__list-rst__photo-frame {
            .list-rst__photo-list {
              display: flex;
              width: 100%;
              justify-content: space-around;
              padding: 0;
            }
            .list-rst__photo-item {
              width: 20vw;
              height: 20vw;
            }
          }
        }
      }
    }
  }
  .responsive__footer-container {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    z-index: 9999;
    .responsive__footer-flex-container {
      display: flex;
      justify-content: space-around;
      & > div {
        text-align: center;
        width: calc(100vw / 5);
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media ( max-width: 1000px ) {
  .flexible-rstlst {
    .flexible-rstlst-side {
      display: none;
    }
  }
  .responsive__sidebar-container {
    aside {
      margin: 0 auto;
      height: 100%;
      min-width: 265px;
      max-width: 320px;
      outline: 0;
      h3 {
        margin: 0;
        padding: 10px;
        background: #faf8f5;
      }
      .list-sidebar__content {
        margin: 14px;
        display: flex;
        justify-content: space-between;
        input, select {
          border: 1px solid #ccc;
        }
        select#required_time {
          width: 147px;
        }
        .search-age__select {
          display: flex;
          align-items: center;
          select {
            height: 30px;
            width: 60px;
          }
          span {
            width: 8px;
            height: 2px;
            border-radius: 0.5px;
            background-color: rgb(10, 44, 47);
            margin: 0px 12px;
          }
        }
      }
      .list-sidebar__content.score {
        justify-content: flex-start;
        label {
          margin-right: 95px;
        }
        #user-evaluate__score {
          display: flex;
          width: 20px;
          height: 20px;
        }
      }
      .search-input-btn {
        width: 100%;
        text-align: center;
        margin-top: 30px;
        input[type='submit'] {
          width: 80%;
          border-radius: 4px;
          color: #fff;
          font-weight: bold;
          font-size: 1.3rem;
          text-align: center;
          background-color: #82ad24;
          border: 1px solid white;
          cursor: pointer;
        }
      }
      .search-clear-btn {
        color: #0073cc;
        text-align: center;
        margin-top: 10px;
        cursor: pointer;
      }
    }
    
  }
}

@media ( min-width: 1001px ) {
  .responsive__footer-container {
    display: none;
  }
}

@media ( min-width: 801px ) {
  .responsive__header-links,
  .responsive__list-rst__photo-frame {
    display: none;
  }
}