// Place all the styles related to the secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 9999;
  .list-sidebar__content {
    padding: 0 70px;
    height: 40px;
    .header-top-contents {
      text-align: right;
    }
  }
  .header-search {
    width: 100%;
    border-bottom: 2px solid #EEEEEE;
    .header-fixed {
      display: flex;
      justify-content: space-between;
      padding: 5px 70px 5px 70px;
      height: 100%;
      .search-suggest {
        .form {
          display: flex;
        }
      }
    }
  }
}

.container {
  word-wrap: break-word;
  margin-top: 170px;
  .flexible-rstlst {
    display: flex;
    margin: 0 auto;
    padding: 0 70px;
    aside {
      height: 100%;
      min-width: 280px;
      max-width: 320px;
      outline: 0;
      h3 {
        margin: 0;
        padding: 10px;
        background: #faf8f5;
      }
      .list-sidebar__content {
        margin: 14px;
        .list-sidebar__box {
          margin-top: 10px;
        }
      }
    }
    .flexible-rstlst-main {
      margin-left: 40px;
      width: 100%;
      min-width: 800px;
      max-width: 1040px;
      .page-count {
        padding-bottom: 17px;
        
      }
    }
  }
}

.list-rst__body {
  position: relative;
  padding: 0 0 0 240px;
  margin-bottom: 18px;
  border-top: solid 1px #e1e1e1;
  .list-rst__contents {
    background-color: bisque;
    min-height: 320px;
    padding-top: 20px;
    & > [class^='list-rst'] {
      margin-bottom: 20px;
    }
    .list-rst__summary {
      h3 {
        margin: 0;
      }
      .list-rst__place {
        border-bottom: 1px solid #efefef;
        padding-bottom: 10px;
      }
      & > [class^='list-rst'] {
        margin-bottom: 7px;
      }
    }
    .list-rst__timeline {
      span {
        padding-right: 30px;
      }
    }
  }
  .list-rst__photo-frame {
    background-color: sandybrown;
    position: absolute;
    top: 20px;
    left: 0;
    width: 220px;
    height: 300px;
    z-index: 999;
    .list-rst__photo-main {
      width: 220px;
      height: 220px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .list-rst__photo-list {
      padding: 0;
      margin: 0;
      li {
        width: 70px;
        height: 70px;
        float: left;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & li:nth-child(3) {
        margin: 0;
      }
    }
  }
}