/*
 *= require_self
 */
@import "main/*";
@import "users/*";
@import "recruits/*";
@import "applicants/*";
@import "relations/*";
@import "notifications/*";
@import "evaluations/*";
@import "flatpickr/dist/flatpickr.min";
@import '@fortawesome/fontawesome-free/scss/fontawesome';

// 全体レイアウト
body {
  margin: 0;
  min-height: 100%;
  height: 100%;
}
#Layout {
  min-height: 100%;
  height: 100%;
}  

.header {
  @include position-sticky(0, 0);
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid #DDDDDD;
  z-index: 9999;
  .header-top__container {
    padding: 0 70px;
    height: 70px;
    .header-top-contents {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .header__links {
        display: flex;
        align-items: center;
        & > div, .header__notification-link, .header__recruit-link {
          margin-left: 40px;
        }
        .header__recruit-link {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
          width: 60px;
          border-radius: 4px;
          background-color: #005FFF;
          .header__new-recruit {
            color: white;
          }
        }

      }
    }
    .evaluatee-user-count {
      position: absolute;
      top: 14px;
      right: 262px;
      height: 17px;
      width: 17px;
      background-color: red;
      border-radius: 16px;
      text-align: center;
      span {
        font-size: 10px;
        color: white;
        font-weight: 700;
        vertical-align: super;
      }
    }
    .unread-notification-count {
      position: absolute;
      top: 14px;
      right: 203px;
      height: 17px;
      width: 17px;
      background-color: red;
      border-radius: 16px;
      text-align: center;
      span {
        font-size: 10px;
        color: white;
        font-weight: 700;
        vertical-align: super;
      }
    }
    .svg-inline--fa {
      height: 20px;
      width: 20px;
    }
  }
}
.background-image__container {
  .top-page__text-wrapper {
    text-align: center;
    font-size: 35px;
    font-family: 'Noto Serif JP', serif;
    font-style: italic;
    p {
      margin: 0;
    }
    p.top-page__first-text {
      margin-top: 30px;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
}

.header__user-menu {
  position: relative;
  cursor: pointer;
  .header-user-menu__wrapper {
    position: absolute;
    padding: 0 16px;
    width: 400px;
    left: -300px;
    top: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 0 4px 8px #0003;
    background-color: #fff;
    & > a, .header-my-page {
      display: block;
      padding: 16px 0;
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      .header-user-right-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        .fa-angle-right {
          vertical-align: middle;
        }
      }
    }
    .header-my-page {
      a {
        display: flex;
        justify-content: space-between;
      }
      .header-user__info {
        display: flex;
        align-items: center;
        .header-user__detail {
          margin-left: 15px;
        }
        .header-user-score {
          display: flex;
          align-items: center;
          #user-score {
            display: flex;
            width: 15px;
            height: 15px;
          }
          .header-user-score-count {
            margin-left: 87px;
            color: #0073cc;
            vertical-align: middle;
          }
        }
      }
    }
    .header-user-logout {
      border: none;
      color: #0073cc;
    }
  }
}

.container {
  word-wrap: break-word;
  margin-top: 30px;
  padding: 0 70px;
  width: 100%;
  .page-title {
    margin-top: 0;
  }
  aside {
    height: 100%;
    min-width: 280px;
    max-width: 320px;
    outline: 0;
    h3 {
      margin: 0;
      padding: 10px;
      background: #faf8f5;
    }
    .list-sidebar__content {
      margin: 14px;
      display: flex;
      justify-content: space-between;
      input, select {
        border: 1px solid #ccc;
      }
      select#required_time {
        width: 147px;
      }
      .search-age__select {
        display: flex;
        align-items: center;
        select {
          height: 30px;
          width: 60px;
        }
        span {
          width: 8px;
          height: 2px;
          border-radius: 0.5px;
          background-color: rgb(10, 44, 47);
          margin: 0px 12px;
        }
      }
    }
    .list-sidebar__content.score {
      justify-content: flex-start;
      label {
        margin-right: 95px;
      }
      #user-evaluate__score {
        display: flex;
        width: 20px;
        height: 20px;
      }
    }
    .search-input-btn {
      width: 100%;
      text-align: center;
      margin-top: 30px;
      input[type='submit'] {
        width: 80%;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 1.3rem;
        text-align: center;
        background-color: #82ad24;
        border: 1px solid white;
        cursor: pointer;
      }
    }
    .search-clear-btn {
      color: #0073cc;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}

.pagination {
  display: flex;
  margin: 50px 0;
  span.page.current {
    display: flex;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #93c9ff;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  span.page {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    color: #696969;
    margin: 0 5px;
    border-radius: 50%;
  }
  span.next, span.last, span.prev, span.first {
    display: flex;
    width: fit-content;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    color: #696969;
    padding: 0 10px;
    border-radius: 3px;
  }
  span {
    &:hover {
      background-color: #e9ecef;
    }
  }
}

input::placeholder, textarea::placeholder {
  color: rgb(200, 200, 200);
}

.alert {
  color: red;
}
.error-message, .flash-message {
  font-size: 0.8rem;
  color: red;
}

a {
  text-decoration: none;
  color: black;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.label {
  font-weight: 800;
  padding-right: 20px;
}

// ユーザーアイコン + 名前
.list-rst__user {
  height: 70px;
  margin-bottom: 10px;
  .profile-image {
    height: 100%;
    display: flex;
    align-items: center;
    .profile-name {
      font-size: 25px;
      font-weight: 800;
      margin-left: 20px;
    }
    .profile-photo {
      overflow: hidden;
    }
  }
}
.profile-icon, .profile-photo {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid $border-color;
  border-radius: 50%;
  .fa-user {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 40px;
    width: 40px;
    color: rgb(200, 200, 200);
  }
}

// 編集ボタン
.edit-btn, .applicant-index {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  text-align: right;
  #update-btn, a {
    color: rgb(0, 150, 169);
    text-decoration: none;
    cursor: pointer;
  }
}