// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$sub-text-color: #666;
$border-color: #DDDDDD;

@mixin selected-label($color) {
  background-color: $color;
  padding: 2px;
  border-radius: 4px;
  border: none;
  color: white;
}

@mixin submit-input-btn($width, $height:50px) {
  height: $height;
  width: $width;
  border: none;
  border-radius: 10px;
  background-color: #005FFF;
  font-size: 1.3rem;
  color: white;
}

@mixin auth-input-form {
  width: 100%;
  height: 35px;
  font-size: 1.3rem;
  border: 0.5px solid rgb(200, 200, 200);
  border-radius: 3px;
  margin-top: 5px;
}

@mixin position-fixed($top:50%, $left:50%) {
  position: fixed;
  top: $top;
  left: $left;
}

@mixin position-absolute-center($top:50%, $left:50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50% -50%);
}

@mixin arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: #000;
  top: calc(50% - 40px);
  transform: translate(0 -50%);
  opacity: 0.2;
}

@mixin separate-border {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

@mixin user-image {
  position: relative;
  margin-right: 16px;
  width: 128px;
  height: 170px;
  border-radius: 16px;
  background-color: gainsboro;
}

@mixin default-user-image {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100px;
  height: 80px;
  color: gray;
}