@import '../mixins.scss';
.profile-main {
  width: 40%;
  margin: 0 auto;
  .profile-photo-main-container {
    position: relative;
    padding-bottom: 2rem;
    border-bottom: 1px solid $border-color;
    .profile-photo-main-item {
      display: flex;
      align-items: center;
      .profile-image {
        @include user-image;
        .fa-user {
          @include default-user-image;
        }
        .fa-camera {
          position: absolute;
          bottom: 8px;
          color: rgb(255, 255, 255);
          left: 0px;
          margin: auto;
          right: 0px;
        }
      }
      .user-attributes.name {
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 6px;
      }
      .user-attributes.evaluation {
        .user-attributes.evaluation-box {
          display: flex;
          align-items: center;
          #profile-user-score {
            display: flex;
            width: 20px;
            height: 20px;
          }
          span {
            color: #0073cc;
            font-size: 20px;
            margin-left: 110px;
          }
        }
      }
      .user-attributes.age-and-gender {
        margin-top: 20px;
        span {
          margin: 0 10px;
        }
      }
    }
    .image-delete {
      width: 128px;
      position: absolute;
    }
  }
    .profile-detail-contents {
      margin-top: 40px;
    }
}

// ユーザープロフィール画面、編集画面レスポンシブ

@media ( max-width: 800px ) {
  .profile-main {
    width: 100%;
    padding: 0 2rem;
  }
}

@media ( max-width: 600px ) {
  .profile-main, #user-update-form {
    & .profile-photo-main-container {
      .profile-photo-main-item {
        align-items: flex-start;
        .profile-image {
          width: 25%;
          height: 30vw;
        }
        .user-attributes {
          width: 100%;
          .name {
            font-size: 1.2rem;
            input {
              width: 100%;
              font-size: 1.2rem;
            }
          }
          .age-and-gender {
            font-size: 0.8rem;
          }
        }
        label[for="input-profile"] {
          width: 25%;
          height: 30vw;
          flex-shrink: 0;
          margin-right: 16px;
          .profile-image {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}