@import '../mixins.scss';
.profile-main {
  margin: 0 450px 0 400px;
  .profile-photo-main-container {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid $border-color;
    .profile-photo-main-item {
      display: flex;
      align-items: center;
      .profile-image {
        position: relative;
        margin-right: 16px;
        width: 128px;
        height: 170px;
        border-radius: 16px;
        background-color: gainsboro;
        .fa-user {
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          width: 100px;
          height: 80px;
          color: gray;
        }
        .fa-camera {
          position: absolute;
          bottom: 8px;
          color: rgb(255, 255, 255);
          left: 0px;
          margin: auto;
          right: 0px;
        }
      }
      .user-attributes.name {
        font-size: 28px;
        font-weight: 800;
      }
      .user-attributes.age-and-gender {
        margin-top: 20px;
        span {
          margin: 0 10px;
        }
      }
    }
    .image-delete {
      width: 128px;
      position: absolute;
    }
  }
    .profile-detail-contents {
      margin-top: 40px;
    }
}