@import '../mixins.scss';
.profile-main {
  margin: 0 450px 0 400px;
  .profile-photo-main-container {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid $border-color;
    .profile-photo-main-item {
      display: flex;
      align-items: center;
      .profile-image {
        @include user-image;
        .fa-user {
          @include default-user-image;
        }
        .fa-camera {
          position: absolute;
          bottom: 8px;
          color: rgb(255, 255, 255);
          left: 0px;
          margin: auto;
          right: 0px;
        }
      }
      .user-attributes.name {
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 6px;
      }
      .user-attributes.evaluation {
        .user-attributes.evaluation-box {
          display: flex;
          align-items: center;
          #profile-user-score {
            display: flex;
            width: 20px;
            height: 20px;
          }
          span {
            color: #0073cc;
            font-size: 20px;
            margin-left: 110px;
          }
        }
      }
      .user-attributes.age-and-gender {
        margin-top: 20px;
        span {
          margin: 0 10px;
        }
      }
    }
    .image-delete {
      width: 128px;
      position: absolute;
    }
  }
    .profile-detail-contents {
      margin-top: 40px;
    }
}